* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1259c3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    border: 5px solid orange;
    background: #fff;
    height: auto;
    width: fit-content;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px auto;
}

.quotes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.quotes .quote {
    font-size: 33px;
    font-weight: 500;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    transition: opacity 0.3s ease;
}

.quotes .author {
    font-size: 23px;
    font-weight: 400;
    color: #555;
    text-align: center;
    transition: opacity 0.3s ease;
}

#new-quote {
    padding: 10px 20px;
    font-size: 21px;
    font-weight: 500;
    color: #fff;
    background-color: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

#new-quote:hover {
    background-color: #ff7f50;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
}

@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    .quotes {
        padding: 20px;
    }

    .quotes .quote {
        font-size: 24px;
    }

    .quotes .author {
        font-size: 18px;
    }

    #new-quote {
        font-size: 18px;
        padding: 8px 16px;
    }
}

.loader {
    width: 48px;
    height: 48px;
    border: 3px solid #FFF;
    border-radius: 50%;
    display: none;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid;
    border-color: #FF3D00 transparent;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}